.main-wrap {
    width: 100%;
    height: calc(100vh - 70px);
    //overflow-y: scroll;

    .main-intro {
        text-align: center;
        .intro-img {
            margin-top: 30px;
        }
    }
}
